:root {
    --bg_main: #0a1f44;
    --text_light: #fff;
    --text_med: #53627c;
    --text_dark: #1e2432;
    --red: #ff1e42;
    --darkred: #c3112d;
    --orange: #ff8c00;
  }
 
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  button {
    cursor: pointer;
    border:none;
  }
 

  .form{
    text-decoration: underline;
  }
  .heading{
    color:white;
    margin-bottom: 4%;
    font-size: 35px;
  }

  input::placeholder{
    color:white;
  }
  input {
   text-decoration: underline;
   text-decoration-color: white;
   background: none;
   border: none;
   outline: none;
   color: white;
   margin-bottom: 4%;
   font-weight: bolder;
   font-size: 20px;
   text-underline-offset: 4px;
  }
  .text{
    color: white;
    text-decoration:underline;
    text-decoration-color: white;
  }
  button{
    color: white;
    background-color: orangered;
    padding: 6px;
    border-radius: 5px;
    font-weight: 400;
  }
  
  ul {
    list-style: none;
  }
  body {
    font: 1rem/1.3 "Roboto", sans-serif;
    color: var(--text_dark);
    padding: 50px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .top-banner{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and  (max-width: 700px){
        .search-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .top-banner form input,
        .top-banner form button {
            width: 100%;
        }

        .heading{
            width: 200%;

        }
  }


  .cities{
    margin-top: 15%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
  }

  .city{
    background-color: #fff;
    border: solid black;
    border-radius: 5%;
    max-width: 220px;
    min-width: 220px;
    padding: 20px;
    color: grey;
    min-height: 280px;
    max-height: 280px;
  }

.city-temp{
  color: black;
  font-weight: 800;
  font-size: 40px;
}

figcaption{
  text-transform: uppercase;
}
 
.msg{
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

html{
  background: linear-gradient(176deg, rgba(0, 0, 0, 1), rgba(43, 43, 43, 1));
-webkit-background: linear-gradient(176deg, rgba(0, 0, 0, 1), rgba(43, 43, 43, 1));
-moz-background: linear-gradient(176deg, rgba(0, 0, 0, 1), rgba(43, 43, 43, 1));
}